<div id="lm_channel_value_<%= lm_channel_value.id %>" class="border-b dark:border-neutral-500 grid grid-cols-2 text-slate-500">
  <div class="whitespace-nowrap px-2 py-1 font-medium">
    <%= lm_channel_value.value %>
  </div>
  <div class="whitespace-nowrap px-2 py-1">
    <%= lm_channel_value.created_at.strftime("%T %d/%m") %>
    <span class="<%= lm_channel_value.quality == 'Ok' ? '' : 'rounded-full bg-red-400 absolute p-1' %>"></span>
  </div>
</div>
