<div class="mb-6 lg:mb-0 min-w-full">
  <div>
    <h5 class="text-lg text-center text-slate-600 font-bold mb-3"><%= t(lm_block.prefix) %></h5>
    <div id="lm_block_<%= lm_block.prefix %>" class="flex flex-col">
      <%= render @lm_channel.where(prefix: lm_block.prefix, active: true) %>
    </div>
  </div>
</div>
