<%= turbo_stream_from "lm_channels" %>

<div id="last_update_channel">
  <%= render partial: "lm_channels/last_update_channel",
      locals: {last_update_channel: @last_updated_channel}
      if @last_updated_channel.present? %>
</div>

<div class="container my-8 px-6 mx-auto">
  <section class="text-gray-800">
    <div class="grid lg:grid-cols-3 gap-6 xl:gap-x-12">
      <%= render partial: "lm_channels/lm_block", collection: @lm_blocks %>
    </div>
  </section>
</div>
