<%= link_to 'Назад', root_path %>
<div class="text-slate-600 m-1 text-3xl block">
  <h1><%= @lm_channel.description %></h1>
</div>

<%= turbo_stream_from "lm_channel_values_#{@lm_channel.id}" %>
<ul id="lm_channel_values">
  <%= render partial: "lm_channel_values/lm_channel_value", collection: @lm_channel_values %>
</ul>
