<%= link_to root_path, class: 'inline-flex flex-col items-center justify-center px-5 bg-zinc-900 hover:bg-gray-800 group border-r-2 border-zinc-800' do %>
  <svg class="w-6 h-6 mb-1 text-gray-400 group-hover:text-blue-500" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5"></path>
  </svg>
  <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">Назад</span>
<% end %>
