<div class="fixed bottom-0 left-0 z-50 w-full h-16 bg-zinc-800 border-t border-gray-200">
  <div class="grid divide-x divide-zinc-800 h-full max-w-lg grid-cols-4 mx-auto font-medium">
    <% if current_page?(lm_channel_path(@lm_channel)).present? %>
      <%= render 'shared/navbar_show' %>
    <% else %>
      <%= render 'shared/navbar_index' %>
    <% end %>
  </div>
</div>
